doctype html
html
  head
    title Admin Panel
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/styles.css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js") // jQuery for toggling
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js")
  body
    div.container.admin-container
      div.heading-container
        h1 Admin Panel
        div.btn-group.add-group
          a.btn.btn-primary.add-project.add(href="/admin/add-project") Add Project
          a.btn.btn-success.add-post.add(href="/admin/add-post") Publish Post

      // Success and Error Notifications
      if successMessage
        div.alert.alert-success(role="alert")= successMessage
      if errorMessage
        div.alert.alert-danger(role="alert")= errorMessage

      h2.mt-5 Projects
      if projects.length > 0
        each project in projects
          div.project-card
            h3= project.title
            p= project.description
            p.tech-stack #[strong Tech Stack:] #{project.techStack}
            p #[strong GitHub:] 
              a(href=project.githubLink target="_blank") #{project.githubLink}
            div.btn-group
              a.btn.btn-warning.btn-edit(href="/admin/edit-project/" + project._id) Edit
              button.btn.btn-danger.delete-btn(data-bs-toggle="modal" data-bs-target="#deleteModal" data-id=project._id data-type="project") Delete
      else
        p No projects added yet.

      h2.mt-5 Blog Posts
      if posts.length > 0
        each post in posts
          div.post-card
            h3= post.title
            div.post-content
              if post.body.length > 200
                div.short-text
                  != post.body.substring(0, 200) + "..."
                  button.btn.btn-link.read-more-btn(type="button") ReadMore
                div.full-text(style="display:none;")
                  != post.body
                  button.btn.btn-link.read-less-btn(type="button" style="display:none;") ReadLess
              else
                p!= post.body

            p.tech-stack #[strong Tech Stack:] #{post.techStack}
            if post.links
              p #[strong Links:] 
                a(href=post.links target="_blank") #{post.links}

            div.btn-group
              a.btn.btn-warning.btn-edit(href="/admin/edit-post/" + post._id) Edit
              button.btn.btn-danger.delete-btn(data-bs-toggle="modal" data-bs-target="#deleteModal" data-id=post._id data-type="post") Delete


    //- Delete Confirm Modal
    div.modal.fade#deleteModal(tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true")
      div.modal-dialog
        div.modal-content
          div.modal-header
            h5.modal-title#deleteModalLabel Confirm Deletion
            button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
          div.modal-body
            p Are you sure you want to delete this item?
          div.modal-footer
            button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Cancel
            form#deleteForm(method="POST")
              button.btn.btn-danger(type="submit") Yes, Delete

    script.
      $(document).ready(function() {
        $(".read-more-btn").click(function() {
          var postCard = $(this).closest(".post-card");
          var shortText = postCard.find(".short-text");
          var fullText = postCard.find(".full-text");
          var readMoreBtn = postCard.find(".read-more-btn");
          var readLessBtn = postCard.find(".read-less-btn");

          shortText.hide();
          fullText.show();
          readMoreBtn.hide();
          readLessBtn.show();
        });

        $(".read-less-btn").click(function() {
          var postCard = $(this).closest(".post-card");
          var shortText = postCard.find(".short-text");
          var fullText = postCard.find(".full-text");
          var readMoreBtn = postCard.find(".read-more-btn");
          var readLessBtn = postCard.find(".read-less-btn");

          shortText.show();
          fullText.hide();
          readMoreBtn.show();
          readLessBtn.hide();
        });

        // Handle delete confirmation
        $("#deleteModal").on("show.bs.modal", function(event) {
          var button = $(event.relatedTarget);
          var itemId = button.data("id");
          var itemType = button.data("type");
          var deleteForm = $("#deleteForm");

          if (itemType === "project") {
            deleteForm.attr("action", "/admin/delete-project/" + itemId);
          } else {
            deleteForm.attr("action", "/admin/delete-post/" + itemId);
          }
        });
      });
